@import "reset.css";
@import "menu.css";

body {
    box-sizing: border-box;
    font-family: BazFont;
}

.espacio{
    margin: 50px;
}

.contenedor-filtro {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.filtro {
    grid-area: 1/1/4/1;
    padding: 0 50px;
    background-color: #eee;
    text-align: center;
    
}

.filtro ul li a {
    text-decoration: none;
    color: #666;
    display: block;
    margin: 10px 0;
}

.filtro h2 {
    font-size: 30px;
    padding: 10%;
    margin: 10px;
    
}

h4 {
    font-size: 18px ; 
    font-weight: bolder;
    margin: 7%;
}

#talla,
#ubicacion {
    font-family: BazFont;
    text-align: center;
    font-size: 14px;
    color: #666;
    background-color: #eee;
    border: 1px solid #666;
    padding: 1.5px;
}


.boton input {
    background-color: #f7f7f7;
    border: none;
    padding: 5px;
    width: 40px;
    height: 100%;
    color: #666;
    font-weight: 500;
    line-height: 0;
}

.boton:focus {
    outline: none;
}



.container-related-products1{
    grid-area: 1/2;
    padding-left: 5%;
    
} 

.container-related-products2 {
    grid-area: 2/2;
    padding-left: 5%;
}

.container-related-products3 {
    grid-area: 3/2;
    padding-left: 5%;
}

.card-list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    margin: 0 10px;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.card-img {
    background: transparent;
    margin-bottom: 15px;
}

.card-img img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card a {
    /* display: flex; */
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}

.text-product {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    float: left;
    width: 80%;
    height: 80px;
}

.price{
    float: right;
    width: 19%;
    text-align: center;
}

.icono a{
    position: relative;
    left: 80px;
    bottom: 18px;
}
.text-product h3 {
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover {
    color: #1bbeb4;
}

.text-product p {
    color: #666;
    font-size: 13px;
}

.text-product p:hover {
    color: #1bbeb4;
}

footer {
    padding: 30px;
    background-color: #eee;
    margin-top: 50px;
    color: #222;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

@media screen and (max-width:768px){
    .container-related-products1{
        grid-area: 1/2;
        padding-left: 5%;
        
    } 
    
    .container-related-products2 {
        grid-area: 2/2;
        padding-left: 5%;
    }
    
    .container-related-products3 {
        grid-area: 3/2;
        padding-left: 5%;
    }
    
    .card-list-products {
        display: grid;
        grid-template-columns: auto auto;
        gap: 25px;
    }
    
}

@media screen and (max-width:468px){
    .contenedor-filtro {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
    }
    .container-related-products1{
        /* grid-area: 1/2; */
        padding-left: 5%;
        
    } 
    
    .container-related-products2 {
       /*  grid-area: 2/2; */
        padding-left: 5%;
    }
    
    .container-related-products3 {
        /* grid-area: 3/2; */
        padding-left: 5%;
    }
    
    .card-list-products {
        display: grid;
        grid-template-columns: auto;
        gap: 25px;
    }
}