@import "reset.css";
@import "menu.css";

body{
    box-sizing: border-box;
    font-family: BazFont;
}

/* PARALAX */
header{
   position: fixed;
   top: 0;
   z-index: 2;
}

.paralax{
  position: absolute;
  top: 151px;
  width: 100%;
}

.pimg1 {
   background-image: url("../images/slider1.jpg");
}

.pimg2 {
   background: url("../images/slider2.jpeg");
}

.pimg3 {
   background: url("../images/slider3.jpg");

}

.pimg1, .pimg2, .pimg3 {
   min-height: 400px;
   max-width: 100%;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   /* fixed = parallax, scroll = normal */
   background-attachment: fixed;
}

.ptext1 {
   position: absolute;
   top: 50%;
   width: 40%;
   color: #000000;
   text-align: center;
   font-size: 16px;
   letter-spacing: 2px;
   /* text-transform: uppercase; */
}
.ptext1 .border{
  background: #000000;
   color: #ffffff;
   padding: 20px;
   border-right: 7px solid #fff;
}

.ptext2 {
   position: absolute;
   top: 50%;
   right: 0;
   width: 40%;
   color: #000000;
   text-align: center;
   font-size: 16px;
   letter-spacing: 2px;
   /* text-transform: uppercase; */
}
.ptext2 .border {
   background: #000000;
   color: #ffffff;
   padding: 20px;
   border-left: 7px solid #fff;
}
/* Footer */
.footer-incio {
   letter-spacing: 1px;
   text-align: center;
   padding: 25px 0;
   color: #000;
}
/* Footer FIN */
/* PARALAX FIN */

/* Responsive */
@media screen and (min-width:1024px){
    
}

@media screen and (max-width:768px){
    
}

@media screen and (max-width:468px){
   .ptext1,
   .ptext2 {
      top: 40%;
      width: 50%;
      font-size: 13px;
   }
}