@import "reset.css";

body{
    box-sizing: border-box;
}
.topline{
    background-color: #000;
    height: 7px;
    width: 100%;
}

/* Menu */
.contenedor{
    border-bottom: 1px solid grey;
    width: 100%;
    height: 100px;
    position: static;
}

.contenedor h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.buscador{
    display: flex;
    justify-content: right;
    margin-right: 100px;
}
.categorias{
    display: flex;
    justify-content: center;
    font-family: Helvetica, "Open-Sans" ,"sans-serif-light", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.categorias a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 13px;
    margin: 0 13px;
}

.categorias a:hover{
    background: #dddddd;
    border-radius: 3px;
    transition: 0.8s;
}
/* Menu FIN */

/* Footer */
Footer{
    background-color: black;
    color: white;
    text-align: center;
}
/* Footer FIN */