@import "reset.css";
@import "menu.css";


main{
    text-align: center;
    margin: 0 auto;
}

h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

main{
    display: flex;
    flex-direction: column;
    border: 1.5px solid #000;
    width: 316px;
    height: 550px; 
    justify-content: space-around;
    align-items: center;
    margin:10px auto;
}
h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}
#email,#contraseña{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}
main button{
    background: #D98C19;
    border-radius: 50px;
    color: white;
    border-color: #D98C19;
    width: 196px;
    height: 37px;
    cursor: pointer;
}
main button:hover {
  opacity: 0.8;
}

/* Redes */
.redes-menu{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:10px;
}
.redes-menu .button{
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    border: 1.5px solid #000;
    transition: all 0.8s ease-out;
}
.redes-menu .button:hover{
    width: 170px;
}

.redes-menu .button .icon{
    display: inline-block;
    border-radius: 50px;
    transition: all 0.8s ease-out;
}

.redes-menu .button .icon i{
    font-size: 25px;
    line-height: 50px;
    transition: all 0.8s ease-out;
}
.redes-menu .button .text{
    display: none;
}
.redes-menu .button:hover .text{
    display:inline-block;
    word-break: break-all;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    
}

/* Redes FIN */

.input-cont{
    width: 250px;
    padding: 30px;
}
.input{
    width: 100%;
    height: 25px;
    position: relative;
}
.input input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 22px;
    border: none;
    border-bottom: 1px silver solid;
}
.input label{
    position: absolute;
    left: 5px;
    bottom:0px;
    font-size: 22px;
    color:silver;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input input:focus ~label,
.input input:valid ~label{
    transform: translateY(-25px);
    font-size: 18px;
}
.input input:focus,
.input input:hover,
.input input:valid{
    border-color:black;
}

.footer {
    background-color: #000;
    letter-spacing: 1px;
    text-align: center;
    padding: 50px 80px;
    color:#fff;
}