@import "reset.css";
@import "menu.css";

.contenido {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    gap: 5px;
    padding-top: 30px;
}

main{
    text-align: center;
    margin: 0 auto;
}
aside {
    grid-area: 2/1;
}
h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

main{
    grid-area: 2/2;
    display: flex;
    flex-direction: column;
    border: 1.5px solid #000;
    width: 316px;
    height: 550px; 
    justify-content: space-around;
    align-items: center;
}
h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}
#email,#contraseña{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}
button{
    background: #D98C19;
    border-radius: 50px;
    color: white;
    border-color: #D98C19;
    width: 196px;
    height: 37px;
    cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.redes-menu{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:10px;
}
.redes-menu a{
    font-size: 16px;
    line-height: 19px;
    background-color: #fff;
    border-radius: 50px;
    color: black;
    border:2px solid black;
    text-decoration: none;
    position: relative;
}
.fa-fw{
    padding: 9px 10px;
}
.fa-apple{
    padding: 10px 13px;
}
.redes-menu a:hover{
    padding-right: 50px;
    transition: 1s;
}

.smartphone {
    position: relative;
    width: 220px;
    height: 420px;
    margin:10px auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}
/* linea orizontal de ariba del celular */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}
/* el circulo de abajo del celular */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}
/* contenido del celular */
.smartphone .content {
    width: 220px;
    height: 420px;
    background: white;
}

.redes{
    display: none;
}
a:hover .redes{
    display:block;
}
.input-cont{
    width: 250px;
    padding: 30px;
}
.input{
    width: 100%;
    height: 25px;
    position: relative;
}
.input input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 22px;
    border: none;
    border-bottom: 1px silver solid;
}
.input label{
    position: absolute;
    left: 5px;
    bottom:0px;
    font-size: 22px;
    color:silver;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input input:focus ~label,
.input input:valid ~label{
    transform: translateY(-25px);
    font-size: 18px;
}
.input input:focus,
.input input:hover,
.input input:valid{
    border-color:black;
}