
@import "reset.css";
header,main{
    text-align: center;
    margin: 0 auto;

}
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 48px;
    line-height: 58px;
}
h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

main{
    display: flex;
    flex-direction: column;
    border:1px hidden black;
    width: 316px;
    height: 550px; 
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 50px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}
h2{
    
/*     width: 165px;
    height: 35px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}
#email,#contraseña{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}
button{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #D98C19;
    border-radius: 50px;
    color: white;
    border-color: #D98C19;
    width: 196px;
    height: 37px;
}
a{
    font-weight: 500px;
    font-size: 16px;
    line-height: 19px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: black;
    border:2px solid black;
    text-decoration: none;
}
nav{
    display:grid;
    grid-template-columns: auto;
}
input{
    border-style: none none solid none;
    outline: none;
    background-color:rgba(255, 255, 255, 0.69);
}
form{
    display: grid;
    grid-template-columns: auto;
}
<<<<<<< HEAD
body{
    body{
=======
/* body{
>>>>>>> cambios 24/3/23
    background-image: url("https://images.pexels.com/photos/8408535/pexels-photo-8408535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eee;
<<<<<<< HEAD
}
}
=======
} */
>>>>>>> cambios 24/3/23
