header{
  background-color: #fff;
  width: 100%;
  font-family: Helvetica, "Open-Sans" ,"sans-serif-light", sans-serif;
}

.topline{
    background-color: #000;
    height: 7px;
}

.menu-contenedor{
    border-bottom: 1px solid #000;
}

.menu-contenedor h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    margin: 12px;
    letter-spacing: 1px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-contenido {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-contenido a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-contenido {
    display: block;
}
.btn-left {
    background: #fff;
    line-height: 1;
    border: none;
    color: #000;
    transition: 0.3s;
}

.btn-left:hover,
.btn-left:focus {
    box-shadow: inset 6.5em 0 0 0 #000;
    color: #fff;
}
/* .user p{
    font-weight: bolder;
    padding: 3px;
}

.user a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding: 3px;
}

.user a:hover{
    font-weight: bold;
} */

/*Buscador*/
.buscador{
    padding-bottom: 5px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 50%;
  border: 3px groove #6b6b6b;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: #000;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #000;
  background: #000;
  text-align: center;
  color: #fff;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton img{
    margin-top: 4px;
    cursor: pointer;
}
/*Buscador FIN*/

.categorias{
    display: flex;
    justify-content: center;
}

.btn-menu {
    font-family: Helvetica, "Open-Sans" ,"sans-serif-light", sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    line-height: 1;
    padding: 0.5em 1.5em;
    transition: 0.5s;
    cursor: pointer;
}
.btn-menu:hover,
.btn-menu:focus {
  color: #fff;
  box-shadow: inset 0 -3.25em 0 0 #000;
}