@font-face {
    font-family: BazLogo;
    src: url(/fonts/couture/couture-bld.otf);
}
@font-face {
    font-family: BazFont;
    src: url(/fonts/Inter/Inter-Medium.ttf);
}

header{
  background-color: #fff;
  width: 100%;
  font-family: BazFont;
}

.topline{
    background-color: #000;
    height: 7px;
}

.menu-contenedor{
    border-bottom: 1px solid #000;
}

.menu-contenedor h1{
    font-family: BazLogo, Helvetica, "Open-Sans" ,"sans-serif-light", sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 12px;
    letter-spacing: 3px;
}

/* Sesion */
.dropdown {
    overflow: hidden;
    display: inline-block;
}

.dropdown-contenido {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-contenido a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover
.dropdown-contenido {
    display: block;
}
.btn-cuenta{
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-family: BazFont;
}
.btn-left {
    background: #fff;
    line-height: 1;
    border: none;
    color: #000;
    transition: 0.5s;
}

.btn-left:hover,
.btn-left:focus {
    box-shadow: inset 10em 0 0 0 #000;
    color: #fff;
}
.user img{
    float: left;
}

/*Buscador*/
.buscador{
    padding-bottom: 5px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 50%;
  border: 3px solid #000;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #000;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 3px solid #000;
  border-left: none;
  background: #fff;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}
.searchButton i{
    /* argin-left: 3px; */
    cursor: pointer;
    color: #000;
}
/*Buscador FIN*/

.categorias{
    display: flex;
    justify-content: center;
}

.btn-menu {
    font-family: BazFont;
    letter-spacing: 1.5px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    line-height: 1;
    padding: 0.5em 1.5em;
    transition: 0.5s;
    cursor: pointer;
}
.btn-menu:hover,
.btn-menu:focus {
  color: #fff;
  box-shadow: inset 0 -3.25em 0 0 #000;
}