header{
  background-color: #fff;
  width: 100%;
  font-family: Helvetica, "Open-Sans" ,"sans-serif-light", sans-serif;
}

.topline{
    background-color: #000;
    height: 7px;
}

.menu-contenedor{
    border-bottom: 1px solid #000;
}

.menu-contenedor h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    margin: 12px;
    letter-spacing: 1px;
}

.user{
    position: absolute;
    display: flex;
}

.user p{
    font-weight: bolder;
    padding: 3px;
}

.user a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding: 3px;
}

.user a:hover{
    font-weight: bold;
}

/*Buscador*/
.buscador{
    padding-bottom: 5px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 50%;
  border: 3px groove #6b6b6b;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: #000;
}

.searchTerm:focus{
  color: #000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #000;
  background: #000;
  text-align: center;
  color: #fff;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButton img{
    margin-top: 4px;
    cursor: pointer;
}
/*Buscador FIN*/

.categorias{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}
.categorias a{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    font-size: 13px;
    letter-spacing: 1px;
    z-index: 0;
}

.categorias a:hover{
    background: #dddddd;
    border-radius: 3px;
    transition: 0.8s;
}
/* dropdown #incluirlo en el menu */
.dropdown {
    float: left;
    overflow: hidden;
}

/* .dropdown .dropbtn {
    #eso seria para cambiar las propiedades del boton
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
} */
.dropdown-contenido {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-contenido a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-contenido a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-contenido {
    display: block;
}

/* dropdown fin */