@import "reset.css";
@import "menu.css";

main{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    width: 50%;
    text-align: center;
}
.text h2{
    font-weight: bold;
}

.image{
    width: 50%;
}