@import "reset.css";
@import "menu.css";
/* @import "productos.css"; */


body{
    font-family: BazFont;
}

main {
    background-color: #eee;
    display: flex;
}

main img {
    width: 8%;
    padding-left: 10px;
    margin-top: 15px;
}

main h2 {
    font-size: 22px;
    display: inline-block;
}


.sub-lista {

}

/* Buscardor */
.buscador-perfil {

}

.search-perfil {
    display: flex;
    justify-content: end;
    margin-right: 10px;
}

.searchTerm-perfil {
    width: 20%;
    border: 3px solid #000;
    border-right: none;
    padding: 5px;
    height: 20px;
    outline: none;
    color: #000;
}

.searchTerm-perfil:focus {
    color: #000;
}

.searchButton-perfil {
    width: 40px;
    height: 36px;
    border: 3px solid #000;
    border-left: none;
    background: #fff;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.searchButton-perfil i {
    /* argin-left: 3px; */
    cursor: pointer;
    color: #000;
}
/* Buscador FIN */


.link-contenedor {
    /* display: block; */
}
.link-contenedor a {
    color: black;
    text-decoration: none;
    font-size: 18px; 
    padding: 10px;
} 

.link-contenedor i {
    padding: 10px;
}

.link-contenedor a:hover {
    text-decoration: underline;
}

/* hacer el boton de buscar */

/* .buscar{
    display: inline-block;
    position: relative;
    margin: 5px 20px;
    left:1100px;

} */

/* h2{
    font-size: 22px;
    padding: 30px;
} */



/* ASIDE */

.container-related-products1 {
    grid-area: 1/2;
    padding-left: 5%;

}

.container-related-products2 {
    grid-area: 2/2;
    
}

.container-related-products3 {
    grid-area: 3/2;

}

.card-list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    margin: 0 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.card-img {
    background: transparent;
    margin-bottom: 15px;
}

.card-img img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card {
    /* display: flex; */
    justify-content: space-between;
}

.text-product {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    float: left;
    width: 80%;
    height: 80px;
}

.price {
    float: right;
    width: 19%;
    text-align: center;
}

.text-product h3 {
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover {
    color: #1bbeb4;
}

.text-product p {
    color: #666;
    font-size: 13px;
}

.text-product p:hover {
    color: #1bbeb4;
}



/* Perfil Iniciado */
.btn-left-cerrar {
    background: #fff;
    line-height: 1;
    border: none;
    color: #b00;
    transition: 0.5s;
}

.btn-left-cerrar:hover,
.btn-left-cerrar:focus {
    box-shadow: inset 10em 0 0 0 #b00;
    color: #fff;
}

.btn-content-cerrar {
    line-height: 1;
    border: none;
    background-color: #000;
    color: #fff;
}