@import "reset.css";
@import "menu.css";
/* @import "productos.css"; */


body{
    font-family: BazFont;
}

main {
    background-color: #eee;
}

main img {
    width: 8%;
    padding-left: 10px;
    margin-top: 15px;
}

main h1 {
    font-size: 22px;
    display: inline-block;
    position: relative;
    bottom: 35px;
}


.sub-lista {
    padding: 15px;
    display: block;
    position: relative;
    bottom: 43px;
    left: 110px;
}

.sub-lista a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;

}
 
.sub-lista a:hover {
    text-decoration: underline;
}

.sub-lista i {
    padding: 10px;
}


.link-contenedor {
    display: block;
    bottom: 180px;
    left: 1060px;
    position: relative;
}
.link-contenedor a {
    color: black;
    text-decoration: none;
    font-size: 18px; 
    padding: 10px;
    /* display: inline-block; */
    bottom: 20px;  
    
} 

.link-contenedor i {
    padding: 10px;
}

.link-contenedor a:hover {
    text-decoration: underline;
}

/* hacer el boton de buscar */

.buscar{
    display: inline-block;
    position: relative;
    margin: 5px 20px;
    left:1100px;

}

h2{
    font-size: 22px;
    padding: 30px;
}

.container-related-products1 {
    grid-area: 1/2;
    padding-left: 5%;

}

.container-related-products2 {
    grid-area: 2/2;
    
}

.container-related-products3 {
    grid-area: 3/2;

}

.card-list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    margin: 0 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.card-img {
    background: transparent;
    margin-bottom: 15px;
}

.card-img img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card {
    /* display: flex; */
    justify-content: space-between;
}

.text-product {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    float: left;
    width: 80%;
    height: 80px;
}

.price {
    float: right;
    width: 19%;
    text-align: center;
}

.text-product h3 {
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover {
    color: #1bbeb4;
}

.text-product p {
    color: #666;
    font-size: 13px;
}

.text-product p:hover {
    color: #1bbeb4;
}



