@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');



body {
    font-family: 'Ubuntu';
    box-sizing: border-box;
   
}
.topline {
    background-color: #000;
    height: 7px;
    width: 100%;
}

/* Menu */
.contenedor {
    border-bottom: 1px solid grey;
    width: 100%;
    height: 100px;
    position: static;
}

.contenedor h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.buscador {
    display: flex;
    justify-content: right;
    margin-right: 100px;
}

.categorias {
    display: flex;
    justify-content: center;
    font-family: Helvetica, "Open-Sans", "sans-serif-light", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.categorias a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 13px;
    margin: 0 13px;
}

.categorias a:hover {
    background: #dddddd;
    border-radius: 3px;
    transition: 0.8s;
}

/* Menu FIN */

.container-title {
    padding: 30px;
    background-color: #eee;
    margin-bottom: 50px;
    color: #222;
}

.card-list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    margin: 0 10px;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.card-img {
    background: transparent;
    margin-bottom: 15px;
}

.card-img img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card {
    /* display: flex; */
    justify-content: space-between;
}

.text-product {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    float: left;
    width: 80%;
    height: 80px;
}

.price{
    float: right;
    width: 19%;
    text-align: center;
}

.text-product h3 {
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover {
    color: #1bbeb4;
}

.text-product p {
    color: #666;
    font-size: 13px;
}

.text-product p:hover {
    color: #1bbeb4;
}

footer {
    padding: 30px;
    background-color: #eee;
    margin-top: 50px;
    color: #222;
}
