<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BazStore | Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css')}}">
    <script src="https://kit.fontawesome.com/1ef70ba703.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="topline"></div>
        <div class="menu-contenedor">
            <div class="user">
                <img src="../../static/images/user-icon.svg" alt="">
                <div class="dropdown">
                    <button class="btn-cuenta">{{session.usuario}} <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-contenido">
                            <a class="btn-left" href="#">Ver Perfil</a>
                            <a class="btn-left-cerrar" href="/logout">Cerrar Sesion</a>
                        </div>
                </div>
            <h1>BazStore</h1>
            <div class="buscador">
                <form>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Buscar productos por su nombre...">
                        <button type="submit" class="searchButton"><label for="search-bar" id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></label></button>
                    </div>
                </form>
            </div>
                <nav class="categorias">
                    <button class="btn-menu" onclick="document.location='/'">INICIO</button>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/hombre'">HOMBRE</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="/hombre/tshirts">T-Shirt</a>
                            <a class="btn-content" href="/hombre/camisa">Camisas</a>
                            <a class="btn-content" href="/hombre/jeans">Jeans</a>
                            <a class="btn-content" href="/hombre/zapatos">Zapatos</a>
                            <a class="btn-content" href="/hombre/deportivo">Deportivo</a>
                
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/mujer'">MUJER</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="/mujer/vestidos">Vestidos</a>
                            <a class="btn-content" href="/mujer/blusas">Blusas</a>
                            <a class="btn-content" href="/mujer/jeans">Jeans</a>
                            <a class="btn-content" href="/mujer/zapatos">Zapatos</a>
                            <a class="btn-content" href="/mujer/deportivo">Deportivo</a>
                
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/accesorios'">ACCESORIOS</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="/accesorios/reloj">Reloj</a>
                            <a class="btn-content" href="/accesorios/cadenas">Cadenas</a>
                            <a class="btn-content" href="/accesorios/brazaletes">Brazaletes</a>
                            <a class="btn-content" href="/accesorios/anillos">Anillos</a>
                            <a class="btn-content" href="/accesorios/otros">Otros</a>
                
                        </div>
                    </div>
                    <button class="btn-menu" onclick="document.location='/nuevo'">NUEVO</button>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <img class="perfil-img" src="../static/images/user.svg">
        <h2 class="perfil-nombre">{{session.usuario}} </h2>
        <div class="btn-superiores">
            <button class="btn" type="submit" id="lanzar-modal"><i class="fa-sharp fa-solid fa-arrow-up-from-bracket"></i> Publicar articulo</button>
            <button class="btn"><i class="fa-sharp fa-solid fa-trash"></i> Borrar Articulo</button>
        </div>
            <div class="contenedor-modal">
            <div class="modal">
                
                <form class="form-modal" action="/perfil/publicar" method="post" enctype="multipart/form-data">
                    <h2>Publica tu proximo articulo</h2>
                    <section class="modal-nombre">
                        <label for="nom2">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" placeholder=" " autocomplete="off" autofocus required>
                    </section>
                    <section class="modal-precio">
                        <label for="num">Precio:</label>
                        <input type="num" id="precio" name="precio"  placeholder=" " required >
                        <label>DOP</label>
                    </section>
                    <section class="modal-img">
                    <!-- <label for="adjunto">Seleccione imagen:</label> -->
                    <input type="file" id="adjunto" name="adjunto"  required>
                    </section>
                    <div class="modal-tallas">
                        <h4>Talla</h4>
                        <select name="talla" id="talla" required>
                            <option></option>
                            <option value="xxl">XXL</option>
                            <option value="xl">XL</option>
                            <option value="l">L</option>
                            <option value="m">M</option>
                            <option value="s">S</option>
                            <option value="xs">XS</option>
                            <option value="6">6-9M (74CM)</option>
                            <option value="9">9-12M (80CM)</option>
                            <option value="12">12-18M (86CM)</option>
                            <option value="18">18-24M (92CM)</option>
                            <option value="2">2-3Y (98CM)</option>
                        </select>
                    </div>
                    <div class="modal-ubicacion">
                        <h4>Ubicacion</h4>
                        <select name="ubicacion" id="ubicacion" required>
                            <option></option>
                            <option value="rd">Todo el pais</option>
                            <option value="sd">Santo Domingo</option>
                            <option value="stgo">Santiago</option>
                            <option value="ppta">Puerto Plata</option>
                            <option value="sfco">San Francisco</option>
                            <option value="bna">Barahona</option>
                        </select>
                    </div>
                    <div class="modal-condiciones">
                        <h4>Condicion</h4>
                        <select name="condicion" id="condicion" required>
                            <option></option>
                            <option value="nuevo y usado">Nuevo y usado</option>
                            <option value="nuevo">Nuevo</option>
                            <option value="usado">Usado</option>
                        </select>
                    </div>

                    <div class="modal-tipo">
                        <h4>Tipo de articulo</h4>
                        <select name="tipo" id="tipo" required>
                            <option></option>
                            <option value="hombre">Hombre</option>
                            <option value="mujer">Mujer</option>
                            <option value="accesorio">Accesorio</option>
                        </select>
                    </div>
                    <div class="modal-subtipo">
                        <h3>Sub-tipo de articulo</h3>
                        <select name="subtipo" id="subtipo" required>
                            <option></option>
                            <option value="tshirt">T-shirt</option>
                            <option value="camisa">Camisas</option>
                            <option value="jeans">Jeans</option>
                            <option value="zapatos">Zapatos</option>
                            <option value="deportivo">Deportivo</option>
                        </select>
                    </div>
                    <section class="modal-descripcion"> 
                        <label for="com">Descripcion:</label>
                        <textarea name="com" id="com" cols="30" rows="10" ></textarea>
                    </section>
                    <div class="modal-btn">
                        <button class="btn" type="submit" id="lanzar-modal">Publicar</button>
                        <button class="btn" type="button" id="ocultar-modal">Cerrar</button>
                    </div>
                            
                </form>
            </div>    
            </div>

           <script src="/static/javaScript/app.js"></script>
        <div class="search-perfil">
            <input type="text" class="searchTerm-perfil" placeholder="Buscar articulos en este perfil...">
            <button type="submit" class="searchButton-perfil"><label for="search-bar-perfil" id="search-icon-perfil"><i class="fa-solid fa-magnifying-glass"></i></label></button>
        </div>
    </main>
    
    <aside>
        <h2>Articulos publicados</h1>

        <div class="contenedor-articulos">
        
            {% include 'sitio/cardej.html' %}
        
        </div>
        
    </aside>
    
  {% include 'sitio/footer.html' %}