<div class="contenedor-ubicacion">
    <h4>Ubicacion</h4>
    <select name="ubicacion" id="ubicacion">
        <option value="Todo el pais" selected>Todo el pais</option>
        <option value="Domingo">Santo Domingo</option>
        <option value="Santiago">Santiago</option>
        <option value="Puerto Plata">Puerto Plata</option>
        <option value="San Francisco">San Francisco</option>
        <option value="Barahona">Barahona</option>
    </select>
</div>

<div class="contenedor-tallas">
    <h4>Tallas</h4>
    <select name="talla" id="talla">
        <option value="Todas las tallas" selected>Todas las tallas</option>
        <option value="XXL">XXL</option>
        <option value="XL">XL</option>
        <option value="L">L</option>
        <option value="M">M</option>
        <option value="S">S</option>
        <option value="XS">XS</option>
        <!-- Talla de Zapatos para hombre-->
        <option value="6 H">6 H</option>
        <option value="6.5 H">6.5 H</option>
        <option value="7 H">7 H</option>
        <option value="7.5 H">7.5 H</option>
        <option value="8 H">8 H</option>
        <option value="8.5 H">8.5 H</option>
        <option value="9 H">9 H</option>
        <option value="9.5 H">9.5 H</option>
        <option value="10 H">10 H</option>
        <option value="10.5 H">10.5 H</option>
        <option value="11 H">11 H</option>
        <option value="11.5 H">11.5 H</option>
        <option value="12 H">12 H</option>
        <option value="13 H">13 H</option>
        <option value="14 H">14 H</option>
        <option value="15 H">15 H</option>
        <!-- Talla de Zapatos para mujer -->
        <option value="5 M">5 M</option>
        <option value="5.5 M">5.5 M</option>
        <option value="6 M">6 M</option>
        <option value="6.5 M">6.5 M</option>
        <option value="7 M">7 M</option>
        <option value="7.5 M">7.5 M</option>
        <option value="8 M">8 M</option>
        <option value="8.5 M">8.5 M</option>
        <option value="9 M">9 M</option>
        <option value="9.5 M">9.5 M</option>
        <option value="10 M">10 M</option>
        <option value="11 M">11 M</option>
        <option value="12 M">12 M</option>
    </select>
</div>
    
<div class="contenedor-precio">
    <h4>Precio</h4>
    <div class="boton">
        <input type="number" placeholder="Min" value="" min="" id="min" class="boton price" maxlength="7" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
        -
        <input type="number" placeholder="Max" value="" max="" id="max" class="boton price" maxlength="7" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
    </div>
</div>

<div class="contenedor-condiciones">
    <h4>Condiciones</h4>
    <select name="condicion" id="condicion">
        <option value="Nuevo y usado" selected>Nuevo y Usado</option>
        <option value="Nuevo">Nuevo</option>
        <option value="Usado">Usado</option>
    </select>
</div>
