<div class="contenedor-ubicacion">
    <h4>Ubicacion</h4>
    <select name="ubicacion" id="ubicacion">
        <option value="Todo el pais" selected>Todo el pais</option>
        <option value="Domingo">Santo Domingo</option>
        <option value="Santiago">Santiago</option>
        <option value="Puerto Plata">Puerto Plata</option>
        <option value="San Francisco">San Francisco</option>
        <option value="Barahona">Barahona</option>
    </select>
</div>

<div class="contenedor-tallas">
    <h4>Tallas</h4>
    <select name="talla" id="talla">
        <option value="Todas las tallas" selected>Todas las tallas</option>
        <option value="XXL">XXL</option>
        <option value="XL">XL</option>
        <option value="L">L</option>
        <option value="M">M</option>
        <option value="S">S</option>
        <option value="XS">XS</option>
        <option value="6">6-9M (74CM)</option>
        <option value="9">9-12M (80CM)</option>
        <option value="12">12-18M (86CM)</option>
        <option value="18">18-24M (92CM)</option>
        <option value="2">2-3Y (98CM)</option>
    </select>
</div>
    
<div class="contenedor-precio">
    <h4>Precio</h4>
    <div class="boton">
        <input type="number" placeholder="Min" value="" min="" id="min" class="boton price" maxlength="7" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
        -
        <input type="number" placeholder="Max" value="" max="" id="max" class="boton price" maxlength="7" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/>
    </div>
</div>

<div class="contenedor-condiciones">
    <h4>Condiciones</h4>
    <select name="condicion" id="condicion">
        <option value="Nuevo y usado" selected>Nuevo y Usado</option>
        <option value="Nuevo">Nuevo</option>
        <option value="Usado">Usado</option>
    </select>
</div>
