<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BazStore | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <script src="https://kit.fontawesome.com/1ef70ba703.js" crossorigin="anonymous"></script>
    <!-- agregar los meta de descripcion etc -->
</head>
<body>
    <header>
        <div class="topline"></div>
        <div class="menu-contenedor">
            <div class="user">
                <a href="perfil.html"><img src="../../static/images/user-icon.svg" alt=""></a>
                <div class="dropdown">
                    <div class="dropdown">
                    <button class="btn-cuenta">Acceder a su cuenta <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-contenido">
                            <a class="btn-left" href="login.html">Iniciar Sesion</a>
                            <a class="btn-left" href="registro.html">Registrarse</a>
                        </div>
                    </div>
                </div>
            <h1>BazStore</h1>
            <div class="buscador">
                <form>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Buscar productos por su nombre...">
                        <button type="submit" class="searchButton"><label for="search-bar" id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></label></button>
                    </div>
                </form>
            </div>
               <nav class="categorias">
                    <button class="btn-menu" onclick="document.location='/'">INICIO</button>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/hombre'">HOMBRE</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="/hombre/tshirts">T-Shirt</a>
                            <a class="btn-content" href="/hombre/camisa">Camisas</a>
                            <a class="btn-content" href="/hombre/jeans">Jeans</a>
                            <a class="btn-content" href="/hombre/zapatos">Zapatos</a>
                            <a class="btn-content" href="/hombre/deportivo">Deportivo</a>
                
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/mujer'">MUJER</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="/mujer/vestidos">Vestidos</a>
                            <a class="btn-content" href="subcategorias/mujer_blusas.html">Blusas</a>
                            <a class="btn-content" href="subcategorias/mujer_jeans.html">Jeans</a>
                            <a class="btn-content" href="subcategorias/mujer_zapatos.html">Zapatos</a>
                            <a class="btn-content" href="subcategorias/mujer_deportivo.html">Deportivo</a>
                
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/accesorios'">ACCESORIOS</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="subcategorias/accesorios_reloj.html">Reloj</a>
                            <a class="btn-content" href="subcategorias/accesorios_cadenas.html">Cadenas</a>
                            <a class="btn-content" href="subcategorias/accesorios_brazaletes.html">Brazaletes</a>
                            <a class="btn-content" href="subcategorias/accesorios_anillos.html">Anillos</a>
                            <a class="btn-content" href="subcategorias/accesorios_otros.html">Otros</a>
                
                        </div>
                    </div>
                    <button class="btn-menu" onclick="document.location='/nuevo'">NUEVO</button>
                </nav>
            </div>
        </div>
    </header>
    <div class="contenido">
        <main>
            <h2>Bienvenido</h2>
            <!-- agregar formulario email ,contraseña y boton acceder-->
            <form>
                <div class="input-cont">
                    <div class="input">
                        <input type="email" name="" id="email" placeholder=" " required>
                        <label for="email">E-mail</label>
                    </div>
                </div>
                <div class="input-cont">
                    <div class="input">
                        <input type="password" name="" id="contraseña" placeholder=" " required>
                        <label for="password">Contraseña</label>
                    </div>
        
                </div>
            </form>
            <button class="btn-up" type="submit" onclick="document.location='inicio.html'">Acceder</button>
            <h3>Continuar con:</h3>
            <nav class="redes-menu">
                <div class="button">
                    <div class="icon"><i class="fa fa-apple" style="color: #000000;"></i></div>
                    <a class="text">Apple</a>
                 </div>
                 <div class="button">
                    <div class="icon"><i class="fa fa-google" style="color: #000000;"></i></div>
                    <a class="text">Google</a>
                 </div>
                 <div class="button">
                     <div class="icon"><i class="fa fa-facebook-f" style="color: #000000;"></i></div>
                    <a class="text">Facebook</a>
                 </div>
            </nav>
            <!-- boton registrarse -->
            <button class="btn-up" onclick="document.location='registro.html'">Registrarse</button>
        </main>
        
    </div>
    <footer class="footer">
        <p>Todos los derechos reservado a &copy;BazStore 2023</p>
    </footer>
</body>
</html>