<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BazStore | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <script src="{{ url_for('static', filename='javaScript/alerta.js')}}"></script>
    <script src="https://kit.fontawesome.com/1ef70ba703.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <header>
        <div class="topline"></div>
        <div class="menu-contenedor">
            <div class="user">
                <i class="fa-solid fa-user"></i>
                <div class="dropdown">
                    <div class="dropdown">
                    <button class="btn-cuenta">Acceder a su cuenta<i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-contenido">
                            <a class="btn-left" href="/login">Iniciar Sesion</a>
                            <a class="btn-left" href="/registro">Registrarse</a>
                        </div>
                    </div>
                </div>

                <div class="dark-contenedor">
                    <button class="btn-dark" onclick="dark()">Modo oscuro</button>
                    <box-icon type='solid' name='sun' class="sun"></box-icon>
                    <i class="fa-solid fa-moon moon-oculto"></i>
                </div>
                
            <h1>BazStore</h1>
            <div class="buscador">
                <form>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Buscar productos por su nombre...">
                        <button type="submit" class="searchButton"><label for="search-bar" id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></label></button>
                    </div>
                </form>
            </div>
               <nav class="categorias">
                    <button class="btn-menu" onclick="document.location='/'">INICIO</button>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/hombre'">HOMBRE</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="/hombre/tshirts">T-Shirt</a>
                            <a class="btn-content" href="/hombre/camisa">Camisas</a>
                            <a class="btn-content" href="/hombre/jeans">Jeans</a>
                            <a class="btn-content" href="/hombre/zapatos">Zapatos</a>
                            <a class="btn-content" href="/hombre/deportivo">Deportivo</a>
                
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/mujer'">MUJER</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="/mujer/vestidos">Vestidos</a>
                            <a class="btn-content" href="/mujer/blusas">Blusas</a>
                            <a class="btn-content" href="/mujer/jeans">Jeans</a>
                            <a class="btn-content" href="/mujer/zapatos">Zapatos</a>
                            <a class="btn-content" href="/mujer/deportivo">Deportivo</a>
                
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/accesorios'">ACCESORIOS</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="/accesorios/reloj">Reloj</a>
                            <a class="btn-content" href="/accesorios/cadenas">Cadenas</a>
                            <a class="btn-content" href="/accesorios/brazaletes">Brazaletes</a>
                            <a class="btn-content" href="/accesorios/anillos">Anillos</a>
                            <a class="btn-content" href="/accesorios/otros">Otros</a>
                
                        </div>
                    </div>
                    <button class="btn-menu" onclick="document.location='/nuevo'">NUEVO</button>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <div class="contenedor contenedor-login">
                <h2>Bienvenido</h2>
                <form action="" method="post">
                    <div class="msg">{{msg}}</div>
                    <div class="input-cont">
                        <div class="input">
                            <input type="text" name="username" id="username" placeholder=" " value="{{
            request.form.username }}" required>
                            <label for="username">Nombre de usuario</label>
                        </div>
                    </div>
                    <div class="input-cont">
                        <div class="input">
                            <input type="password" name="password" id="contraseña" placeholder=" " value="{{
            request.form.password }}" required>
                            <label for="password">Contraseña</label>
                        </div>
                    </div>
                    <input class="btn-up" type="submit" value="Acceder">
                </form>

                <h3>Continuar con:</h3>
                <nav class="redes-menu">
                    <div class="button" onclick="alert('Esta funcion esta temporalmente fuera de servicio.');">
                        <div class="icon" ><i class="fa fa-apple" style="color: #000000;"></i></div>
                        <a href="" class="text">Apple</a>
                    </div>
                    <div class="button" onclick="alert('Esta funcion esta temporalmente fuera de servicio.');">
                        <div class="icon"><i class="fa fa-google" style="color: #000000;"></i></div>
                        <a href="" class="text">Google</a>
                    </div>
                    <div class="button" onclick="alert('Esta funcion esta temporalmente fuera de servicio.');">
                        <div class="icon"><i class="fa fa-facebook-f" style="color: #000000;"></i></div>
                        <a href="" class="text">Facebook</a>
                    </div>
                </nav>
                <!-- boton registrarse -->
                <button class="btn-up" onclick="document.location='/registro'">Registrarse</button>
            </div>
        </main>
        
    {% include 'sitio/footer.html' %}