<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BazStore | Perfil</title>
    <link rel="stylesheet" href="css/perfil.css">
    <script src="https://kit.fontawesome.com/1ef70ba703.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="topline"></div>
        <div class="menu-contenedor">
            <div class="user">
                <a href="#"><img src="images/user-icon.svg" alt=""></a>
                <div class="dropdown">
                    <button class="btn-cuenta">@Nombre_Usuario <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-contenido">
                            <a class="btn-left" href="#">Ver Perfil</a>
                            <a class="btn-left-cerrar" href="login.html">Cerrar Sesion</a>
                        </div>
                </div>
            <h1>BazStore</h1>
            <div class="buscador">
                <form>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Buscar productos por su nombre...">
                        <button type="submit" class="searchButton"><label for="search-bar" id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></label></button>
                    </div>
                </form>
            </div>
                <nav class="categorias">
                    <button class="btn-menu" onclick="document.location='inicio.html'">INICIO</button>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='categoria_hombre.html'">HOMBRE</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="subcategorias/Subcategoria_t-shirts.html">T-Shirt</a>
                            <a class="btn-content" href="subcategorias/Subcategoria_camisa.html">Camisas</a>
                            <a class="btn-content" href="subcategorias/subcategoria_jeansh.html">Jeans</a>
                            <a class="btn-content" href="subcategorias/subcategoria_zapatosh.html">Zapatos</a>
                            <a class="btn-content" href="subcategorias/subcategoria_deportivoh.html">Deportivo</a>
                
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='categoria_mujer.html'">MUJER</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="subcategorias/subcategoria_vestidos.html">Vestidos</a>
                            <a class="btn-content" href="subcategorias/Subcategoria_blusas.html">Blusas</a>
                            <a class="btn-content" href="subcategorias/subcategoria_jeans.html">Jeans</a>
                            <a class="btn-content" href="subcategorias/subcategoria_zapatos.html">Zapatos</a>
                            <a class="btn-content" href="subcategorias/subcategoria_deportivo.html">Deportivo</a>
                
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='categoria_accesorios.html'">ACCESORIOS</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="subcategorias/subcategoria_reloj.html">Reloj</a>
                            <a class="btn-content" href="subcategorias/subcategoria_cadenas.html">Cadenas</a>
                            <a class="btn-content" href="subcategorias/subcategoria_brazaletes.html">Brazaletes</a>
                            <a class="btn-content" href="subcategorias/subcategoria_anillos.html">Anillos</a>
                            <a class="btn-content" href="subcategorias/subcategoria_otros.html">Otros</a>
                
                        </div>
                    </div>
                    <button class="btn-menu" onclick="document.location='categoria_nuevo.html'">NUEVO</button>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="usuario">
            <img src="images/user.svg"><h2>@Nombre_Usuario</h2>
        </div>
        <div class="btn-superiores">
            <a href="#"><i class="fa-solid fa-arrow-up-from-bracket"></i>Publicar articulo</a>
            <a href="#"><i class="fa-solid fa-trash"></i>Borrar articulo</a>
        </div>
        <div class="search-perfil">
            <input type="text" class="searchTerm-perfil" placeholder="Buscar articulos de este perfil...">
            <button type="submit" class="searchButton-perfil"><label for="search-bar-perfil" id="search-icon-perfil"><i class="fa-solid fa-magnifying-glass"></i></label></button>
        </div>
    </main>
    
    <aside>
        <h2>Articulos publicados</h1>
        <section class="container-related-products2">

            <div class="card-list-products">
                <div class="card">
                    <div class="card-img">
                        <a href="#"><img
                                src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80"
                                alt="producto-1" /></a>
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>Nike - Roshe Run</h3>
                            <p class="category">Footwear, Sneakers</p>
                        </div>
                        <div class="price">$85.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <a href="#"><img
                                src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
                                alt="producto-2" /></a>
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>Common Projects Achilles</h3>
                            <p class="category">Footwear, Sneakers</p>
                        </div>
                        <div class="price">$255.00</div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <a href="#"><img
                                src="https://images.unsplash.com/photo-1617606002779-51d866bdd1d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                alt="producto-4" /></a>
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>Common Projects Achilles</h3>
                            <p class="category">Footwear, Sneakers</p>
                        </div>
                        <div class="price">$250.00</div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-img">
                        <a href="#"><img
                                src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
                                alt="producto-2" /></a>
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>Common Projects Achilles</h3>
                            <p class="category">Footwear, Sneakers</p>
                        </div>
                        <div class="price">$255.00</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-related-products3">

            <div class="card-list-products">
                <div class="card">
                    <div class="card-img">
                        <a href="#"><img
                                src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80"
                                alt="producto-1" /></a>
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>Nike - Roshe Run</h3>
                            <p class="category">Footwear, Sneakers</p>
                        </div>
                        <div class="price">$85.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <a href="#"><img
                                src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
                                alt="producto-2" /></a>
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>Common Projects Achilles</h3>
                            <p class="category">Footwear, Sneakers</p>
                        </div>
                        <div class="price">$255.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <a href="#"><img
                                src="https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                                alt="producto-3" /></a>
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>Adidas - Boston Super OG</h3>
                            <p class="category">Footwear, Sneakers</p>
                        </div>
                        <div class="price">$105.00</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <a href="#"><img
                                src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80"
                                alt="producto-2" /></a>
                    </div>
                    <div class="info-card">
                        <div class="text-product">
                            <h3>Common Projects Achilles</h3>
                            <p class="category">Footwear, Sneakers</p>
                        </div>
                        <div class="price">$255.00</div>
                    </div>
                </div>
            </div>
        </section>
        </div>

    </aside>

    
    
    <footer class="footer">
        <p>Todos los derechos reservado a &copy;BazStore 2023</p>
    </footer>
</body>
</html>