@import "reset.css";
@import "menu.css";

body {
    font-family: BazFont;
}

.contenedor-articulo{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 15px;
    margin: 20px;
    column-gap: 35px;
}


.contenedor-imagen{
    grid-area: 2 / 1 / 5 / 2;
    min-width: 402px;
}
.contenedor-imagen img{
    width: 25rem;
    height: 25rem;
}

.contenedor-titulo{
    grid-area: 1 / 1 / 2 / 3;
}
.contenedor-titulo h2{
    font-size: 18px;
    word-break: break-word;
    user-select: text;
}


.contenedor-informacion{
    grid-area: 3 / 2 / 4 / 3;
}
.contenedor-informacion h3{
    border: 2px solid #000;
    font-size: 13px;
    margin: 8px;
    padding: 5px 0;
    letter-spacing: 1px;
}
.contenedor-informacion span{
    color: #fff;
    background-color: #000;
    font-size: 13px;
}
.contenedor-informacion .precio{
    padding: 5px 13px;
}
.contenedor-informacion .talla{
    padding: 5px 15px;
}
.contenedor-informacion .ubicacion {
    padding: 5px 2px;
}


/* Grid Vendedor */
.contenedor-vendedor{
    grid-area: 2 / 2 / 3 / 3;
    background-color: #eee;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.contenedor-vendedor .vendedor{
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
}
.contenedor-vendedor .vendedor img{
    width: 2.5rem;
    height: 2.5rem;
}
.contenedor-vendedor .telefono{
    grid-area: 2 / 1 / 3 / 2;
}
.contenedor-vendedor .whatsapp{
    grid-area: 2 / 2 / 3 / 3;
}
/* Grid Vendedor FIN */


.contenedor-descripcion{
    grid-area: 4 / 2 / 5 / 3;
}
.contenedor-descripcion .cuadro {
    border: 2px solid #000;
    width: 25rem;
    height: 10rem;
}
.contenedor-descripcion .cuadro h3{
    color: #fff;
    background-color: #000;
    font-size: 17px;
    text-align: center;
    padding: 3px 0;
    letter-spacing: 1px;
}
.contenedor-descripcion .cuadro p{
    font-size: 13px;
    word-break: break-word;
}

.titulo-relacionados{
    background-color: #eee;
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
    letter-spacing: 1px;
}
.contenedor-relacionados{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    margin: 15px 0;
}

/* Card */
.card {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto;
    cursor: pointer;
    margin: 0 10px;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.card-img {
    grid-area: 1 / 1 / 2 / 3;
    background: transparent;
}

.card-img img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-title {
    grid-area: 2 / 1 / 3 / 3;
}

.card-title a {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    text-decoration: none;
    color: #000;
}

.card-tags {
    grid-area: 3 / 1 / 4 / 2;
}

.card-tags a {
    color: #666;
    font-size: 13px;
}

.card-tags a:hover {
    color: #1bbeb4;
}

.card-price {
    grid-area: 3 / 2 / 4 / 3;
}
/* Card FIN */

