@import "reset.css";
@import "menu.css";

body {
    font-family: BazFont;
}

.contenedor-articulo{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    row-gap: 15px;
    margin: 20px 30% auto;
    column-gap: 35px;
}


.contenedor-imagen{
    grid-area: 2 / 1 / 5 / 2;
    min-width: 402px;
}
.contenedor-imagen img{
    width: 25rem;
    height: 25rem;
}

.contenedor-titulo{
    grid-area: 1 / 1 / 2 / 3;
}
.contenedor-titulo h2{
    font-size: 18px;
    word-break: break-word;
    user-select: text;
    letter-spacing: 1px;
}


.contenedor-informacion{
    grid-area: 3 / 2 / 4 / 3;
}
.contenedor-informacion h3{
    border: 2px solid #e4e4e4;
    border-radius: 2px;
    font-size: 13px;
    margin: 8px;
    padding: 5px 0;
    letter-spacing: 1px;
}
.contenedor-informacion span{
    color: #000;
    background-color: #e4e4e4;
    font-size: 13px;
}
.contenedor-informacion .precio{
    padding: 5px 16px;
}
.contenedor-informacion .talla{
    padding: 5px 18px;
}
.contenedor-informacion .ubicacion {
    padding: 5px 3px;
}


/* Grid Vendedor */
.contenedor-vendedor{
    grid-area: 2 / 2 / 3 / 3;
    background-color: #e4e4e4;
    border-radius: 2px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 55% 45%;
    gap: 0;
}
.contenedor-vendedor .vendedor{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: center;
}
.contenedor-vendedor .vendedor a{
    text-decoration: none;
    color: #000;
    width: 10rem;
    height: 1.5rem;
}
.contenedor-vendedor .vendedor img{
    width: 3rem;
    height: 3rem;
}
.contenedor-vendedor .telefono{
    grid-area: 2 / 2 / 3 / 3;
    user-select: text;
    display: flex;
    justify-content: center;
    margin: 2% auto;
}
.contenedor-vendedor .whatsapp{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 1.5rem;
    text-decoration: none;
    margin: 2% auto;
}
.contenedor-vendedor .whatsapp-btn{
    color: #fff;
    background-color: #25d336;
    border: 1px solid #25d336;
    border-radius: 2px;
    cursor: pointer;
}
.contenedor-vendedor .whatsapp-btn:hover {
    color: #25d336;
    background-color: #fff;
}
/* Grid Vendedor FIN */


.contenedor-descripcion{
    grid-area: 4 / 2 / 5 / 3;
    border: 2px solid #e4e4e4;
    border-radius: 2px;
}
.contenedor-descripcion .cuadro {
    width: 25rem;
    height: 10rem;
}
.contenedor-descripcion .cuadro h3{
    color: #000;
    background-color: #e4e4e4;
    font-size: 17px;
    text-align: center;
    padding: 3px 0;
    letter-spacing: 1px;
}
.contenedor-descripcion .cuadro p{
    font-size: 13px;
    word-break: break-word;
}

.titulo-relacionados{
    background-color: #e4e4e4;
    text-align: center;
    padding: 10px 0;
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 20px;
}
.contenedor-relacionados{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    margin: 15px 0;
}

/* Card */
.card {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto;
    cursor: pointer;
    margin: 0 10px;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.card-img {
    grid-area: 1 / 1 / 2 / 3;
    background: transparent;
}

.card-img img {
    width: 18vw;
    height: 12.5rem;
    /* height: 200px;
    width: 300px; */
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.card-title {
    grid-area: 2 / 1 / 3 / 3;
}

.card-title a {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    text-decoration: none;
    color: #000;
}

.card-tags {
    grid-area: 3 / 1 / 4 / 2;
}

.card-tags a {
    color: #666;
    font-size: 13px;
}

.card-tags a:hover {
    color: #1bbeb4;
}

.card-price {
    grid-area: 3 / 2 / 4 / 3;
}
/* Card FIN */


/* Responsive */
@media screen and (max-width:1024px) {
    /* Articulo */
    .contenedor-articulo {
        display: grid;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 15px;
        margin: 20px 30% auto;
        column-gap: 35px;
    }
    .contenedor-titulo {
        grid-area: 1 / 1 / 2 / 2;
    }
    .contenedor-imagen {
        grid-area: 2 / 1 / 3 / 2;
    }
    .contenedor-informacion {
        grid-area: 3 / 1 / 4 / 2;
    }
    .contenedor-vendedor {
        grid-area: 4 / 1 / 5 / 2;
    }
    .contenedor-descripcion {
        grid-area: 5 / 1 / 6 / 2;
    }

    /* Articulos Relacionados */
        .contenedor-relacionados {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            gap: 15px;
        }
        .card-img img {
            width: 80vw;
            height: 40vw;
        }

        .card-title a {
            font-size: 14px;
           
        }
}

@media screen and (max-width:1024px) {
    .card-img img {
        width: 42vw;
        height: 38vw;
    }

}

@media screen and (max-width:768px) {
    .card-img img {
        width: 42vw;
        height: 38vw;
    }

}

@media screen and (max-width: 468px) {
    .card-title a {
        font-size: 12px;
    }

}

@media screen and (max-width: 990px) {
 .card-img img {
        width: 30vw;
        height: 20vw;
    }
}
@media screen and (max-width: 1020px) {
 .card-img img {
        width: 30vw;
        height: 20vw;
    }
}