@import "reset.css";
@import "menu.css";

body {
    font-family: BazFont;
}

.contenedor-articulo{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 15px;
    margin: 20px;
    column-gap: 35px;
}


.contenedor-imagen{
    grid-area: 2 / 1 / 5 / 2;
    min-width: 402px;
}
.contenedor-imagen img{
    width: 25rem;
    height: 25rem;
}

.contenedor-titulo{
    grid-area: 1 / 1 / 2 / 3;
}
.contenedor-titulo h3{
    font-size: 20px;
    word-break: break-all;
}


.contenedor-informacion{
    grid-area: 3 / 2 / 4 / 3;
}
.contenedor-informacion h3{
    border: 2px solid #000;
    font-size: 13px;
    margin: 8px;
    padding: 5px 0;
}
.contenedor-informacion span{
    color: #fff;
    background-color: #000;
    font-size: 13px;
}
.contenedor-informacion .precio{
    padding: 5px 13px;
}
.contenedor-informacion .talla{
    padding: 5px 15px;
}
.contenedor-informacion .ubicacion {
    padding: 5px 2px;
}


/* Grid Vendedor */
.contenedor-vendedor{
    grid-area: 2 / 2 / 3 / 3;
    background-color: #eee;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}
.contenedor-vendedor .vendedor{
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
}
.contenedor-vendedor .vendedor img{
    width: 2.5rem;
    height: 2.5rem;
}
.contenedor-vendedor .telefono{
    grid-area: 2 / 1 / 3 / 2;
}
.contenedor-vendedor .whatsapp{
    grid-area: 2 / 2 / 3 / 3;
}
/* Grid Vendedor FIN */


.contenedor-descripcion{
    grid-area: 4 / 2 / 5 / 3;
}
.contenedor-descripcion .cuadro {
    border: 2px solid #000;
    width: 25rem;
    height: 10rem;
}
.contenedor-descripcion .cuadro h3{
    color: #fff;
    background-color: #000;
    font-size: 17px;
    text-align: center;
    padding: 3px 0;
}
.contenedor-descripcion .cuadro p{
    font-size: 13px;
    word-break: break-all;
}

.card-list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

}

.card {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    margin: 0 10px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.card-img {
    background: transparent;
    margin-bottom: 15px;
}

.card-img img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.info-card a {
    /* display: flex; */
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}

.text-product {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    float: left;
    width: 80%;
    height: 80px;
}

.price {
    float: right;
    width: 19%;
    text-align: center;
}


.text-product h3 {
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover {
    color: #1bbeb4;
}

.text-product p {
    color: #666;
    font-size: 13px;
}

.text-product p:hover {
    color: #1bbeb4;
}