@import "reset.css";
@import "menu.css";

body{
    font-family: BazFont;
}

.contenedor{
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #000;
    justify-content: space-around;
    align-items: center;
    margin:50px auto;
}

/* LOGIN */
.contenedor-login{
    width: 316px;
    height: 550px; 
}

h3{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

h2{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
}
#email,#contraseña{
    font-family: BazFont;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

/* Boton-up */
.btn-up {
    letter-spacing: 1px;
    background-color: #000;
    border: 2px solid #000;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1rem 2rem;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.btn-up:hover,
.btn-up:focus {
  border-color: #000;
  color: #000;
  box-shadow: inset 0 -3.25em 0 0 #fff;
}
/* Boton-up FIN */

/* Redes */
.redes-menu{
    display:grid;
    grid-template-columns: auto auto auto;
    gap:10px;
}
.redes-menu .button{
    display: inline-block;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    border: 1.5px solid #000;
    transition: all 0.8s ease-out;
}
.redes-menu .button:hover{
    width: 170px;
}

.redes-menu .button .icon{
    display: inline-block;
    border-radius: 50px;
    transition: all 0.8s ease-out;
}

.redes-menu .button .icon i{
    font-size: 25px;
    line-height: 50px;
    transition: all 0.8s ease-out;
}
.redes-menu .button .text{
    display: none;
}
.redes-menu .button:hover .text{
    display:inline-block;
    word-break: break-all;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    
}
/* Redes FIN */

/* Input Login */
.input-cont{
    width: 250px;
    padding: 30px;
}
.input{
    width: 100%;
    height: 25px;
    position: relative;
}
.input input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 22px;
    border: none;
    border-bottom: 1px silver solid;
}
.input label{
    position: absolute;
    left: 5px;
    bottom:0px;
    font-size: 22px;
    color:silver;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input input:focus ~label,
.input input:valid ~label,
.input input:not(:placeholder-shown) ~label{
    transform: translateY(-25px);
    font-size: 18px;
}
.input input:focus,
.input input:hover,
.input input:valid{
    border-color:black;
}
/* Input Login FIN */
/* LOGIN FIN */

.msg {
    color: rgb(206, 38, 38);
}

/* REGISTER */
.contenedor-register {
    width: 316px;
    height: 625px;
}

.register {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 10px;
}

.register-form input {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    border: 1px solid #9f9e9e;
    background-color: #fff;
    outline: none;
}

::placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.input-form {
    width: 250px;
    padding: 30px;
}

.register-form {
    width: 100%;
    height: 25px;
    position: relative;
}

.register-form input {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 22px;
    border: none;
    border-bottom: 1px silver solid;
}

.register-form label {
    position: absolute;
    left: 5px;
    bottom: 0px;
    font-size: 22px;
    color: silver;
    pointer-events: none;
    transition: all 0.3s ease;
}

.register-form :focus~label,
.register-form input:valid~label,
.register-form input:not(:placeholder-shown)~label {
    transform: translateY(-25px);
    font-size: 18px;
}

.register-form input:focus,
.inpregister-formut input:hover,
.register-form input:valid {
    border-color: black;
}

.contenedor-botones {
    display: grid;
    gap: 10px;
}

.contenedor-botones a {
    display: inline-block;
    color: #000;
    font-family: BazFont;
    text-align: center;
    letter-spacing: 1px;
}

.contenedor-botones a:hover {
    display: inline-block;
    font-weight: bold;
}

section h2 {
    font-weight: bold;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 18px;
    margin: 10px;
}
/* REGISTER FIN */