@import "reset.css";
@import "menu.css";

/* MODAL */
/* Boton */
.btn {
    letter-spacing: 1px;
    background-color: #000;
    border: 2px solid #000;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    color: #fff;
    transition: 0.3s;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    border-color: #000;
    color: #000;
    background-color: #fff;
}

.btn-superiores .btn{
    padding: 5px;
}
/* Boton FIN */

.contenedor-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor-modal.mostrar {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 1;
}

.contenedor-modal .modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 500px;
    padding: 50px;
    background-color: #fff;
    opacity: 1;
    border: solid 3px #000;
}

.form-modal {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 13px;
}

.form-modal h2{
    grid-area: 1/1/2/3;
    font-size: 19px;
}
.modal-nombre{
    grid-area: 2/1/3/3;
    font-size: 14px;
}
.modal-precio{
    grid-area: 3/1/4/3;
    font-size: 14px;
}
.modal-precio .dop{
    font-size: 13px;
}
.modal-img{
    grid-area: 5/1/6/2;
}
.modal-img button{
    margin-top: 15px;
}
.modal-tallas{
    grid-area: 5/2/6/3;
}
.modal-ubicacion{
    grid-area: 6/2/7/3;
}
.modal-condiciones{
    grid-area: 6/1/7/2;
}
.modal-tipo{
    grid-area: 4/1/5/2;
}
.modal-subtipo{
    grid-area: 4/2/5/3;
}
.modal-descripcion{
    grid-area: 8/1/9/3;
    font-size: 14px;
}
textarea {
    resize: none;
    margin-top: 2px;
}
.modal-btn{
    grid-area: 9/1/10/3;
    display: flex;
    justify-content: space-evenly;
    margin-left: -10px;
}
.modal-btn .btn-cerrar {
    padding: 0.3rem 1.2rem;
}
.modal-btn .btn-publicar{
    padding: 0.3rem 0.7rem;
}

.form-modal input{
    width: 120px;
}

#nombre{
    width: 172px;
}

#precio{
    margin-left: 12px;

}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-modal h4{
    font-size: 14px;
    text-align: center;
    margin-bottom: 2px;
}
.form-modal h3{
    font-size: 12.5px;
    text-align: center;
    margin-bottom: 3px;
}

#talla,
#ubicacion,
#condicion,
#tipo,
#subtipo{
    font-family: BazFont;
    text-align: center;
    color: #000;
    border: solid 1.5px #000;
    width: 120px;
}

/* MODAL FIN */


/* input file */
input[type="file"] {
    color: transparent;
    display: none;
    
}


/* FIN */

.perfil-contenedor {
    background-image: url(/static/images/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100px auto auto;
    border-bottom: #000 3px solid;
}

aside h2{
    font-size: 22px;
    margin: 10px;
    text-align: center;
}

.perfil-img{
    grid-area: 1 / 1 / 4 / 2;
    width: 100px;
    color: #fff;
}

.fa-pen-to-square{
    color: #fff;
    text-decoration: none;
}
.perfil-nombre{
    grid-area: 2 / 2 / 3 / 4;
    margin-left: 5px;
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #fff;
}


/* Botones superiores */
.btn-superiores {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: end;

}
.btn-superiores .whatsapp {
    display: flex;
    justify-content: end;
    height: 1.7rem;
    text-decoration: none;
    margin: 4px;
}

.btn-superiores .whatsapp-btn {
    color: #fff;
    background-color: #25d336;
    border: 1px solid #25d336;
    border-radius: 2px;
    cursor: pointer;
}

.btn-superiores .whatsapp-btn:hover {
    color: #25d336;
    background-color: #fff;
}
 /* Botones superiores FIN */

/* Buscardor */
.search-perfil {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    justify-content: end;
    margin-top: auto;
}

.searchTerm-perfil {
    width: 60%;
    border: 3px solid #000;
    border-bottom: none;
    border-right: none;
    padding: 5px;
    height: 20px;
    outline: none;
    color: #000;
}

.searchTerm-perfil:focus {
    color: #000;
}

.searchButton-perfil {
    width: 40px;
    /* height: 36px; */
    border: 3px solid #000;
    border-bottom: none;
    border-left: none;
    background: #fff;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.searchButton-perfil i {
    /* argin-left: 3px; */
    cursor: pointer;
    color: #000;
}


/* ASIDE */

.contenedor-articulos {
    display: grid;
    grid-template-columns: repeat(4, 20rem);
    margin-top: 30px;
    row-gap: 20px;
    justify-content: space-evenly;
}

/* Card */
.card {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto auto;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: #ddd 2px 2px 5px;
    padding-bottom: 5px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.card-img {
    grid-area: 1 / 1 / 2 / 3;
    background: transparent;
}

.card-img img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card-title {
    grid-area: 2 / 1 / 3 / 3;
}

.card-title a {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    text-decoration: none;
    color: #000;
}

.card-tags {
    grid-area: 3 / 1 / 4 / 2;
}

.card-tags a {
    color: #666;
    font-size: 13px;
}

.card-tags a:hover {
    color: #1bbeb4;
}

.card-price {
    grid-area: 3 / 2 / 4 / 3;
    margin-left: 1px;
}

/* Boton Eliminar */
.btn-eliminar {
    position: absolute;
    border: 0px;
    background-color: transparent;
    font-size: 70px;
    margin: -255px 0px 0px 237px;
}
.btn-eliminar:hover {
    color: #9f0000;
}
/* Boton Eliminar FIN */
/* Card FIN */

/* Modo Oscuro */
.dark-perfil-contenedor{
    border-bottom: #fff 3px solid;
}
.dark-searchTerm-perfil {
    border: 2px solid #fff;
    color: #fff;
    background: #333;
    border-right: none;
    border-bottom: none;
}
.dark-searchTerm-perfil:focus {
    color: #fff;
}
.dark-searchButton-perfil {
    border: 2px solid #fff;
    background: #333;
    color: #fff;
    border-left: none;
    border-bottom: none;
}
.dark-searchButton-perfil i {
    color: #fff;
}
.dark-card {
    background-color: #eee;
    color: #000;
    box-shadow: #555 2px 2px 5px;
}
.dark-card-title a {
    color: #000;
}
/* Modo Oscuro FIN */

/* Responsive */
@media screen and (min-width:1700px) {
    .contenedor-articulos{
        grid-template-columns: repeat(5, 19rem);
    }
    .card {
        grid-template-columns: 70% 30%;
        margin: 0;
    }
    .card-img img{
        width: 303px;
        height: 200px;
    }
}

@media screen and (max-width:1300px){
    .contenedor-articulos {
        grid-template-columns: repeat(3, 20rem);
    }
}

@media screen and (max-width:990px) {
    .contenedor-articulos {
        grid-template-columns: repeat(3, 16.6rem);
    }
    .card-img img {
        width: 245px;
        height: 180px;
    }
    .btn-eliminar {
        margin: -235px 0px 0px 185px;
    }
}

@media screen and (max-width:800px) {
    .contenedor-articulos {
        grid-template-columns: repeat(2, 20rem);
    }
    .card-img img {
        width: 300px;
        height: 200px;
    }
    .btn-eliminar {
        margin: -255px 0px 0px 237px;
    }
}

@media screen and (max-width:670px) {
    .contenedor-articulos {
        grid-template-columns: repeat(2, 15.3rem);
    }
    .card-img img {
        width: 225px;
        height: 180px;
    }
    .btn-eliminar {
        margin: -230px 0px 0px 160px;
    }
}
