<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categorias_db.css')}}">
    <script src="https://kit.fontawesome.com/1ef70ba703.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="topline"></div>
        <div class="menu-contenedor">
            <div class="user">
                <a href="..//perfil"><img src="../../../static/images/user-icon.svg" alt=""></a>
                <div class="dropdown">
                    <div class="dropdown">
                      {% if session.login %}
                    <button class="btn-cuenta">{{session.usuario}} <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-contenido">
                            <a class="btn-left" href="/perfil">Ver Perfil</a>
                            <a class="btn-left-cerrar" href="/logout">Cerrar Sesion</a>
                        </div>
                    {% else %}
                    <button class="btn-cuenta">Acceder a su cuenta <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-contenido">
                            <a class="btn-left" href="/login">Iniciar Sesion</a>
                            <a class="btn-left" href="/registro">Registrarse</a>
                        </div>
                        {% endif %}
                </div>
                </div>
            <h1>BazStore</h1>
            <div class="buscador">
                <form>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Buscar productos por su nombre...">
                        <button type="submit" class="searchButton"><label for="search-bar" id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></label></button>
                    </div>
                </form>
            </div>
                <nav class="categorias">
                    <button class="btn-menu" onclick="document.location='/'">INICIO</button>
                    <div class="dropdown">
                        <button class="btn-menu active" onclick="document.location='/hombre'">HOMBRE</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="#">T-Shirt</a>
                            <a class="btn-content" href="/hombre/camisa">Camisas</a>
                            <a class="btn-content" href="/hombre/jeans">Jeans</a>
                            <a class="btn-content" href="/hombre/zapatos">Zapatos</a>
                            <a class="btn-content" href="/hombre/deportivo">Deportivo</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='/mujer'">MUJER</button>
                       <div class="dropdown-contenido">
                            <a class="btn-content" href="/mujer/vestidos">Vestidos</a>
                            <a class="btn-content" href="/mujer/blusas">Blusas</a>
                            <a class="btn-content" href="/mujer/jeans">Jeans</a>
                            <a class="btn-content" href="/mujer/zapatos">Zapatos</a>
                            <a class="btn-content" href="/mujer/deportivo">Deportivo</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu"
                            onclick="document.location='/accesorios'">ACCESORIOS</button>
                       <div class="dropdown-contenido">
                            <a class="btn-content" href="/accesorios/reloj">Reloj</a>
                            <a class="btn-content" href="/accesorios/cadenas">Cadenas</a>
                            <a class="btn-content" href="/accesorios/brazaletes">Brazaletes</a>
                            <a class="btn-content" href="/accesorios/anillos">Anillos</a>
                            <a class="btn-content" href="/accesorios/otros">Otros</a>
                        </div>
                    </div>
                    <button class="btn-menu" onclick="document.location='/nuevo'">NUEVO</button>
                </nav>
            </div>
        </div>
    </header>
<main>
    <div class="contenedor-filtro">
        {% include 'sitio/filtrodb.html' %}
    </div>

    <div class="contenedor-articulos">

        <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth5.jpg" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>

    <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth8.avif" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>

    <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth7.webp" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>

    <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth6.webp" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>

    <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth5.jpg" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>

    <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth4.webp" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>

    <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth3.jpeg" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>

    <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth2.webp" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>

    <div class="card">
    <div class="card-img">
        <a href="/articulo"><img src="..\images\t-shirth1.avif" alt="imagen-articulo" /></a>
    </div>
    <div class="card-title">
        <a href="/articulo">
            <h3>Hermes, Blanco-Rosa piel de serpiente</h3>
        </a>
    </div>
    <div class="card-tags"><a href="/articulo">
            <p class="category">Mujer, Accesorios, Bolsos</p>
        </a>
    </div>
    <div class="card-price">$85.00</div>
    </div>
        
    </div>
    </main>
   {% include 'sitio/footer.html' %}