<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/categorias.css')}}">
    <script src="https://kit.fontawesome.com/1ef70ba703.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="topline"></div>
        <div class="menu-contenedor">
            <div class="user">
                <a href="perfil.html"><img src="../images/user-icon.svg" alt=""></a>
                <div class="dropdown">
                    <div class="dropdown">
                    <button class="btn-cuenta">Acceder a su cuenta <i class="fa fa-caret-down"></i></button>
                        <div class="dropdown-contenido">
                            <a class="btn-left" href="login.html">Iniciar Sesion</a>
                            <a class="btn-left" href="registro.html">Registrarse</a>
                        </div>
                    </div>
                </div>
            <h1>BazStore</h1>
            <div class="buscador">
                <form>
                    <div class="search">
                        <input type="text" class="searchTerm" placeholder="Buscar productos por su nombre...">
                        <button type="submit" class="searchButton"><label for="search-bar" id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></label></button>
                    </div>
                </form>
            </div>
                 <nav class="categorias">
                    <button class="btn-menu" onclick="document.location='../inicio.html'">INICIO</button>
                    <div class="dropdown">
                        <button class="btn-menu" onclick="document.location='../categoria_hombre.html'">HOMBRE</button>
                        <div class="dropdown-contenido">
                            <a class="btn-content" href="hombre_tshirts.html">T-Shirt</a>
                            <a class="btn-content" href="hombre_camisa.html">Camisas</a>
                            <a class="btn-content" href="hombre_jeans.html">Jeans</a>
                            <a class="btn-content" href="hombre_zapatos.html">Zapatos</a>
                            <a class="btn-content" href="hombre_deportivo.html">Deportivo</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu active" onclick="document.location='../categoria_mujer.html'">MUJER</button>
                       <div class="dropdown-contenido">
                            <a class="btn-content" href="mujer_vestidos.html">Vestidos</a>
                            <a class="btn-content" href="#">Blusas</a>
                            <a class="btn-content" href="mujer_jeans.html">Jeans</a>
                            <a class="btn-content" href="mujer_zapatos.html">Zapatos</a>
                            <a class="btn-content" href="mujer_deportivo.html">Deportivo</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn-menu"
                            onclick="document.location='../categoria_accesorios.html'">ACCESORIOS</button>
                       <div class="dropdown-contenido">
                            <a class="btn-content" href="accesorios_reloj.html">Reloj</a>
                            <a class="btn-content" href="accesorios_cadenas.html">Cadenas</a>
                            <a class="btn-content" href="accesorios_brazaletes.html">Brazaletes</a>
                            <a class="btn-content" href="accesorios_anillos.html">Anillos</a>
                            <a class="btn-content" href="accesorios_otros.html">Otros</a>
                        </div>
                    </div>
                    <button class="btn-menu" onclick="document.location='../categoria_nuevo.html'">NUEVO</button>
                </nav>
            </div>
        </div>
    </header>

    <!-- <div class="espacio"></div> -->
    <div class="contenedor-filtro">
        <div class="filtro">
        <!-- <br><br>
        <ul>
            <h4>Categorias</h4>
            <li><a href="#">Camisas</a></li>
            <li><a href="#">Sudaderas</a></li>
            <li><a href="#">Jeans</a></li>
            <li><a href="#">Relojes</a></li>
            <li><a href="#">Zapatos</a></li>
            <li><a href="#">Tenis</a></li>
            <li><a href="#">Gorras</a></li>
            
        </ul> -->

        <br>
        <h4>Ubicacion</h4>
        <select name="ubicacion" id="ubicacion">
            <option value="rd" selected>Todo el pais</option>
            <option value="sd">Santo Domingo</option>
            <option value="stgo">Santiago</option>
            <option value="ppta">Puerto Plata</option>
            <option value="sfco">San Francisco</option>
            <option value="bna">Barahona</option>
        </select>
        
        <br>
        <br>
        <h4>Tallas</h4>
        <select name="talla" id="talla">
            <option value="todas_tallas" selected>Todas las tallas</option>
            <option value="xxl">XXL</option>
            <option value="xl">XL</option>
            <option value="l">L</option>
            <option value="m">M</option>
            <option value="s">S</option>
            <option value="xs">XS</option>
            <option value="6">6-9M (74CM)</option>
            <option value="9">9-12M (80CM)</option>
            <option value="12">12-18M (86CM)</option>
            <option value="18">18-24M (92CM)</option>
            <option value="2">2-3Y (98CM)</option>
        </select>

        <br>
        <br>
        <h4>precio</h4>
        <div class="boton">
            <input type="number" placeholder="Min" value="" min="" class="boton"/>
            -
            <input type="number" placeholder="Max" value="" min="" class="boton"/>
        </div>
        <!-- colocar boton de enviar formulario -->
        <br>

        <h4>Codiciones</h4>
        <select name="condicion" id="condicion">
            <option value="todas_condicion" selected>Nuevo y Usado</option>
            <option value="xxl">Nuevo</option>
            <option value="xl">Usado</option>
        </select>

        

    </div>
    <section class="container-related-products1">
    
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                   <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa1.webp"
                        alt="producto-1" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <a href="../producto.html">
                            <h3>Nike - Roshe Run</h3>
                        </a>
                       <a href="../producto.html">
                           <p class="category">Footwear, Sneakers</p>
                       </a>
                    </div>
                    <div class="price">$85.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa2.jpg"
                        alt="producto-3" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                       <a href="../producto.html">
                           <h3>Adidas - Boston Super OG</h3>
                       </a>
                       <a href="../producto.html">
                           <p class="category">Footwear, Sneakers</p>
                       </a>
                    </div>
                    <div class="price">$105.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                   <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa3.webp"
                        alt="producto-4" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <a href="../producto.html">
                            <h3>Common Projects Achilles</h3>
                        </a>
                        <a href="../producto.html">
                            <p class="category">Footwear, Sneakers</p>
                        </a>
                    </div>
                    <div class="price">$250.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-related-products2">

        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa4.jpg"
                        alt="producto-1" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                       <a href="../producto.html">
                           <h3>Nike - Roshe Run</h3>
                       </a>
                        <a href="../producto.html">
                            <p class="category">Footwear, Sneakers</p>
                        </a>
                    </div>
                    <div class="price">$85.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa5.jpg"
                        alt="producto-2" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                      <a href="../producto.html">
                          <h3>Common Projects Achilles</h3>
                      </a>
                        <a href="../producto.html">
                            <p class="category">Footwear, Sneakers</p>
                        </a>
                    </div>
                    <div class="price">$255.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-img">
                    <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa6.jpg"
                        alt="producto-4" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <a href="../producto.html">
                            <h3>Common Projects Achilles</h3>
                        </a>
                        <a href="../producto.html">
                            <p class="category">Footwear, Sneakers</p>
                        </a>
                    </div>
                    <div class="price">$250.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-related-products3">

        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa7.jpg"
                        alt="producto-1" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                      <a href="../producto.html">
                          <h3>Nike - Roshe Run</h3>
                      </a>
                        <a href="../producto.html">
                            <p class="category">Footwear, Sneakers</p>
                        </a>
                    </div>
                    <div class="price">$85.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                   <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa8.jpg"
                        alt="producto-2" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <a href="../producto.html">
                            <h3>Common Projects Achilles</h3>
                        </a>
                       <a href="../producto.html">
                           <p class="category">Footwear, Sneakers</p>
                       </a>
                    </div>
                    <div class="price">$255.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <a href="../producto.html"><img src="../images/categorias/categoria_mujer/blusa9.jpg"
                        alt="producto-3" /></a>
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <a href="../producto.html">
                            <h3>Adidas - Boston Super OG</h3>
                        </a>
                        <a href="../producto.html">
                            <p class="category">Footwear, Sneakers</p>
                        </a>
                    </div>
                    <div class="price">$105.00</div>
                    <div class="icono">
                        <a href="perfil.html"></a>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    </div>
    


    <footer class="footer">
        <p>Todos los derechos reservado a &copy;BazStore 2023</p>
    </footer>

</body>
</html>